// @font-face {
//   font-family: 'Marcellus';
//   src: url('https://fonts.googleapis.com/css2?family=Marcellus'); /* Google fonts */
//   font-style: normal;
//   font-weight: 400;
// }
$font-family: 'Marcellus';
$gfont-name: 'Marcellus';

/* marcellus-regular - latin-ext_latin */
@font-face {
//  font-family: 'Marcellus';
  font-family: '#{$font-family}';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://fonts.googleapis.com/css2?family=#{$gfont-name}'), /* Google fonts */
       url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/marcellus/marcellus-v8-latin-ext_latin-regular.svg#Marcellus') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Marcellus';
  src: url('../fonts/marcellus/marcellix-regular-webfont.woff2');
  unicode-range: U+0218-021B;
}


$colorPrimary: #909090; 
$colorSecundary: #04bb0d;

body {
  width: 92%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  font-size: 30px;
  color: $colorPrimary;
}

p {
  font-size: 16px;
  color: $colorSecundary;
}

// @font-face {
//   font-family: 'Marcellus';
//   src: url('/fonts/Marcellus-Regular.ttf');
// }

// @font-face {
//   font-family: 'Marcellus';
//   src: url('/fonts/marcellix-regular-webfont.ttf');
//   unicode-range: U+0218-021B;
// }

.wrapper {
  padding-top: 20px;
}

.font {
  font-size: 4em;
  font-family: 'Marcellus';
}

.testing {
  width: percentage(5/7);
}

.btn {
  margin: 0 0 31px;
  line-height: 48px;
  padding: 0 16px;
  min-width: 190px;
  width: auto;
  display: inline-block;
  font-weight: 400;
  color: #111111;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.125;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-gradient {
  border: none;
  border-radius: 0.25rem;
  background: #1dcde9;
  background: -webkit-linear-gradient(legacy-direction(-63deg), #1dcde9 0%, #9705ff 100%);
  background: linear-gradient(-63deg, #1dcde9 0%, #9705ff 100%);
  box-shadow: 0px 8px 16px -9px #1dcde9, 0px 16px 32px -10px #1dcde9 42%;
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 10px 0;
}

a:hover {
  color: blue;
}

a::before {
  content: ">";
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 0.25rem;
  background: #1dcde9;
  background: -webkit-linear-gradient(legacy-direction(-63deg), #1dcde9 0%, #9705ff 100%);
  background: linear-gradient(-63deg, #1dcde9 0%, #9705ff 100%);
  box-shadow: 0px 8px 16px -9px #1dcde9, 0px 16px 32px -10px #1dcde9;
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  min-width: 190px;
  width: auto;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 40px 10px 60px;
}

.full-width {
  width: 100%; 
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-box {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin: 10px;
  border: solid 1px #cecece;
}

.object-fit {
  object-fit: contain;
}

/* picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.landscape {
    height: 100%;
    width: auto;
  }
  &.portrait {
    height: auto;
    width: 100%;
  }
}

@supports (object-fit: cover) {
  picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
}

.no-objectfit { 
  background-image: url(../img/selma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.objectfit { 
  object-fit: cover;
  width: 100%;
  height: 100%;
 } */

 @supports (object-fit: cover) {
  picture img {
  object-fit: cover;
  }
}

 picture img {
  width: 100%;
  height: 100%;
//  height: auto;
 }

 // Obrázky pozadí sekcí

 .section {
  position: relative;
  min-height: 70vh;
}

 .section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-background-cover>img {
//  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  font-family: 'object-fit: cover;';
}