// ---------------------------------------------------------------------------------------------------------------------
// @mixin font-face
//
//
// @author:		jbe
// @date:		11.01.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------


@mixin font-face($family, $folder, $file, $weight, $style, $font-unicode-range: false, $woff2: true, $settings: false) {
    @font-face {
      font-family: '#{$family}';
  
      @if $woff2 {
        src: url('../fonts/#{$folder}/#{$file}.woff2') format('woff2'),
        url('../fonts/#{$folder}/#{$file}.woff') format('woff');
      } @else {
        src: url('../fonts/#{$folder}/#{$file}.woff') format('woff');
      }
  
      font-weight: $weight;
      font-style: $style;
      @if $font-unicode-range {
        unicode-range: $font-unicode-range;
      }
  
      font-rendering: swap 500ms;
      font-display: swap;
  
      @if $settings {
        @include font-feature-settings($settings);
      }
  
    }
  }
  